{
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }

        .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 2.5%;
        }

        [class^="col-"] {
            border: 1px solid black;
        }

        .text-block {
            margin: 1%; /* Змінено на відсоткове значення */
            position: relative;
            border: 1px solid black;
            width: 98%; /* Змінено на відсоткове значення */
        }

        .col-lg-4, .col-md-6, .col-sm-12 {
            background-color: #32CD32;
            margin: 1%;
            flex: 1 0 calc(30% - 2%);
            padding: 20px 10px 0px 10px;
        }

        p {
            margin: 2%; /* Змінено на відсоткове значення */
        }

        span {
            position: absolute;
            right: 0;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
            padding: 5px;
            background-color: white;
        }

        .caption-1 {
            background-color: #C0C0C0;
        }

        .caption-2 {
            background-color: #FFD700;
        }

        .caption-3 {
            background-color: #DDA0DD;
        }

        @media (min-width: 992px) {
            .col-lg-4 { flex: 1 0 calc(30% - 2%); }
        }

        @media (min-width: 768px) and (max-width: 992px) {
            .col-md-6 { flex: 1 0 calc(48% - 2%); }
        }

        @media (max-width: 768px) {
            .col-sm-12 { flex: 1 0 calc(96% - 2%); }
        }
