.menu-icon {
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-icon div {
    width: 100%;
    height: 4px;
    background-color: #BDB76B;
    transition: transform 0.4s, opacity 0.4s, background-color 0.4s, box-shadow 0.4s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.menu-icon.active .bar1 {
    transform: translateY(10px) rotate(45deg);
    background-color: #BDB76B;
}

.menu-icon.active .bar2 {
    opacity: 0;
}

.menu-icon.active .bar3 {
    transform: translateY(-10px) rotate(-45deg);
    background-color: #BDB76B;
}

.burger {
    background: url('burger_icon.png') no-repeat center center; 
    background-size: contain; 
    width: 40px; 
    height: 30px;
    display: none;
    opacity: 0;
    animation: fadeIn 0.8s forwards; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.burger.active {
    display: block;
    opacity: 1;
    transform: translateY(-50%) scale(1.1); 
}

.burger-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('burger_icon.png'); 
    background-size: cover;
    transition: transform 0.3s ease; 
}

.burger-icon.active::after {
    content: "+";
    transform: rotate(45deg); 
    transition: transform 0.3s ease; /* Додано перехід */
}

.burger .navbar-categories li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 4px;
}

.burger .navbar-categories li a {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: center;
}

.burger .navbar-categories li:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 3px; /* Округлюємо кути */
    transition: background-color 0.3s ease; 
}

.burger .navbar-categories li:hover a {
    color: #FFFFFF; 
}

.burger .navbar-categories li a::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.burger .navbar-categories li .burger-link-home::before {
    background-image: url("../image/home.png");
}

.burger .navbar-categories li .burger-link-catalog::before {
    background-image: url("../image/catalog-icon.png");
}

.burger .navbar-categories li .burger-link-about::before {
    background-image: url("../image/about.png");
}

.burger .navbar-categories li .burger-link-awards::before {
    background-image: url("../image/award.png");
} 

@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }
    .burger > nav {
        display: none;
    }
}
